<!DOCTYPE html>
<html>
    <head>
        <title>
            gallery
        </title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yeseva+One:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/ProfileWeb.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/gallery.css')}}">
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="home" class="ds">DS</a>
            </div>
            <div class="menu">
                <a href="about" class="under-border">About</a>
                <a href="contact" class="under-border">Contact</a>
                <a href="gallery" class="under-border">Gallery</a>
            </div>
        </nav>
        <div class="title">
            Gallery
            <h6>僕の視覚的な旅</h6>
        </div>
        <div class="galleryContainer">
            <div class="photos">
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s1.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p2k.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l3.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s4.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p5.jpeg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l6.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s7.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p8k.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l9.JPG')}}">
                </div>
            </div>
            <div class="photos">
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p1.jpeg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l2.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s3.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p4k.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l5.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s6.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p7.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l8.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s9.jpg')}}">
                </div>
            </div>
            <div class="photos">
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l1.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s2.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p3k.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l4.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s5.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p6.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/l7.JPG')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/s8.jpg')}}">
                </div>
                <div class="image">
                    <img width="100%;" src="{{url_for('static', filename='gallery/p9k.JPG')}}">
                </div>
            </div>
        </div>
            
    </body>
</html>