<!DOCTYPE html>
<html>

<head>
    <title>
        about | history
    </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One:400,500,600,700,800,900&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ProfileWeb.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/history.css')}}">

</head>


<body>
    <nav>
        <div class="logo">
            <a href="home" class="ds">DS</a>
        </div>
        <div class="menu">
            <a href="about" class="under-border">About</a>
            <a href="contact" class="under-border">Contact</a>
            <a href="gallery" class="under-border">Gallery</a>
        </div>
    </nav>
    <div class="title">
        History
        <h6>僕の過去について</h6>
    </div>
    <div class="historycontent">
        <div class="year">
            <h1>2015—2019</h1>
        </div>
        <div class="activity">
            <div class="records">
                <h1>Accepted in University of Indonesia</h1>
                <p>This one is somekind of roler coaster for me
                    since there are lots of ups and downs. I don't
                    really know how I could made it, but for sure,
                    I won't be able to nailed it without supports
                    from my family and friends.
                </p>
                <br>
                <br>
                <h1>Graduated From High School</h1>
                <p>Yes, this is one of my favorite since I finally
                    liberated from the 6—16 prison. Well, not really
                    a prison. It's just that high school really drained
                    my energy.
                </p>
                <br>
                <br>
                <h1>Student Exchange to Japan</h1>
                <p>こんにちは！That's one of Japanese vocabulary that I
                    remember the most; it means "hello" hahaha. Well,
                    at 2017 I applied to participate in a student exchange
                    program in Japan. It is an annual event held between
                    my high school and Haruhigaoka High School in Nagoya, Aichi.
                    It was really an unforgetable moment since I was able
                    to improve my Japanese skill and made lots of friends.
                </p>
                <br>
                <br>
                <h1>Student Immersions Programme to Australia</h1>
                <p>This is the first time for me to participate in a
                    students mmersion or student exchange programme. I tried to
                    apply for this event that held by my school with collaboration
                    with St.Paul's School Australia. This event is organized by 
                    Adonta Education and held for two weeks.
                </p>
                <br>
                <br>
                <h1>Participate In International Ursuline Youth Day</h1>
                <p>This is one of my favorite event that I've ever participated in.
                    In this event, Ursuline's students from all over the world gathered 
                    together. There are students from Japan, Taiwan, Thailand, Indonesia,
                    and others. In 2015, this event held in Surakarta, Central Java.
                </p>
                <br>
                <br>
                <h1>Vice President of the Student Council</h1>
                <p>I've never think that I could held this position when I just
                    enter junior high school in St. Ursula BSD. Lot's of my friends
                    supported me, but some didn't. First, I imagine that I would be
                    super busy with all of those organization stuffs. But it wasn't
                    as bad as I imagine. Working in a team taught me a lot; that I 
                    wasn't alone. I have my team, my friends, and the president herself.
                    I was able to work pretty well because of their help, I suppose.
                </p>
            </div>
            <div class="image">
                <div>
                    <img src="{{url_for('static', filename='image/Untitled.003.jpeg')}}" width="100%" height="100%" >
                </div>
            </div>
        </div>
    </div>
    <div class="historycontent" style="margin-top: 5%;">
        <div class="year">
            <h1>2010—2014</h1>
        </div>
        <div class="activity">
            <div class="records">
                <h1>No Longer An Elementary</h1>
                <p>Finally graduated from elementary school after these tiring
                    six years of my life. Kinda glad, kinda proud, but also sad.
                    I didn't sad because of my grades (means they are fine) but
                    because of my friends. It feels like a farewell for me and
                    some of my friends. Those moments we cherished together,
                    I won't forget that.
                </p>
                <br>
                <br>
                <h1>Let's Make Some Noises</h1>
                <p>There was a thing that made my elementary moments are amusing.
                    Once, we were in a middle of a test. I was humming quietly but
                    suddenly I got my voice lost of my control. I was suspected
                    but of course, I denied it. Since that time, I never ever
                    humming in any kind of test.
                </p>
                <br>
                <br>
                <h1>Back To Kindergarten</h1>
                <p>There was a storytelling competition when I was a third grader.
                    I was one of the representative from my class. We won and got
                    the second place. It didn't end just like that. The headmistress
                    asked us to perform in front of kindergartens. It was a pleasure
                    for us, and we did it pretty well.
                </p>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='image/Untitled.006.jpeg')}}" width="100%" height="100%" >
            </div>
        </div>
    </div>
    <div class="historycontent" style="margin-top: 5%;">
        <div class="year">
            <h1>2005—2009</h1>
        </div>
        <div class="activity">
            <div class="records">
                <h1>Being Arrogant</h1>
                <p>I was one of the top student in my first grade. That time,
                    I got the third rank among 43 students. I was proud, a little
                    bit too much. In the end, I didn't study for test in my second
                    grade and ended up in the fourteenth position. I was so
                    dissapointed in myself, and from that moment, I tried to
                    make myself even better.
                </p>
                <br>
                <br>
                <h1>Rejected</h1>
                <p>Imagine being a four years old kid but already got rejected
                    by a school. Yes, I was rejected when applyin for kindergarten.
                    Well, my mom said it was because of my lack of concern towards
                    others and towards the environment. "You were ignoring the
                    teacher when she talked to you," my mom said.
                </p>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='image/Untitled.007.jpeg')}}" width="100%" height="100%" >
            </div>
        </div>
    </div>
    <div class="historycontent" style="margin-top: 5%;">
        <div class="year">
            <h1>2000—2004</h1>
        </div>
        <div class="activity">
            <div class="records">
                <h1>Hey, What Do You Expect?</h1>
                <p>In these year, I'm still a fetus which can only
                    cry, eat, sleep, and of course poo. But one thing
                    for sure, I do remember when I often have a fight
                    with my sister. It's often because of simple things
                    such as food, toys, and TV remote. Yes, we love to
                    watch cartoon. But she always watch barbie and I prefer
                    to warch Tom and Jerry. Well, eventually, we often ended
                    up by watching barbie together smh.
                </p>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='image/Untitled.005.jpeg')}}" width="100%" height="100%" >
            </div>
        </div>
    </div>
</body>

</html>